@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Light.woff2') format('woff2'),
        url('Satoshi-Light.woff') format('woff'),
        url('Satoshi-Light.ttf') format('truetype'),
        url('Satoshi-Light.svg#Satoshi-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-BlackItalic.woff2') format('woff2'),
        url('Satoshi-BlackItalic.woff') format('woff'),
        url('Satoshi-BlackItalic.ttf') format('truetype'),
        url('Satoshi-BlackItalic.svg#Satoshi-BlackItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Italic.woff2') format('woff2'),
        url('Satoshi-Italic.woff') format('woff'),
        url('Satoshi-Italic.ttf') format('truetype'),
        url('Satoshi-Italic.svg#Satoshi-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Black.woff2') format('woff2'),
        url('Satoshi-Black.woff') format('woff'),
        url('Satoshi-Black.ttf') format('truetype'),
        url('Satoshi-Black.svg#Satoshi-Black') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff'),
        url('Satoshi-Bold.ttf') format('truetype'),
        url('Satoshi-Bold.svg#Satoshi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-BoldItalic.woff2') format('woff2'),
        url('Satoshi-BoldItalic.woff') format('woff'),
        url('Satoshi-BoldItalic.ttf') format('truetype'),
        url('Satoshi-BoldItalic.svg#Satoshi-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-LightItalic.woff2') format('woff2'),
        url('Satoshi-LightItalic.woff') format('woff'),
        url('Satoshi-LightItalic.ttf') format('truetype'),
        url('Satoshi-LightItalic.svg#Satoshi-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-MediumItalic.woff2') format('woff2'),
        url('Satoshi-MediumItalic.woff') format('woff'),
        url('Satoshi-MediumItalic.ttf') format('truetype'),
        url('Satoshi-MediumItalic.svg#Satoshi-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Medium.woff2') format('woff2'),
        url('Satoshi-Medium.woff') format('woff'),
        url('Satoshi-Medium.ttf') format('truetype'),
        url('Satoshi-Medium.svg#Satoshi-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Regular.woff2') format('woff2'),
        url('Satoshi-Regular.woff') format('woff'),
        url('Satoshi-Regular.ttf') format('truetype'),
        url('Satoshi-Regular.svg#Satoshi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

